
<ion-content>
<button class="button button-small button-balanced" ng-click="detail.submitFeature(detail.featureArray())">COMPLETE</button>
<button class="button button-small button-assertive" ng-click="detail.removeFeature()">DELETE</button>
  <form>
    <label ng-if="detail.featureType==='obstruction'">
      <span class="input-label">Radius</span>
      <div class="item range range-positive">
        <input  type="range"
                name="radius"
                min="5"
                max="100"
                ng-change="detail.showVal(value)"
      				  ng-model="detail.featureProperties.radius"
                value="{{option.radius}}">
      </div>
    </label>
    <label class="item item-radio" ng-repeat="property in detail.featureDetails">
      <span class="input-label">{{property.propertyName}}</span>
      <ion-radio  type="radio" 
                  name="{{option.value}}"
                  ng-repeat="option in property.options"
                  ng-model="detail.featureProperties[property.propertyValue]"                   
      						value="{{option.value}}"
      >{{option.text}}</ion-radio>
    </label>
  </form>
<button class="button button-small button-balanced" ng-click="detail.submitFeature(detail.featureArray())">COMPLETE</button>
<button class="button button-small button-assertive" ng-click="detail.removeFeature()">DELETE</button>
</ion-content>




<ion-radio ng-repeat="item in feature.featureOptions" ng-value="item.value" ng-model="data.featureDetails">{{ item.text }}</ion-radio>
<div class="item item-divider">