<ion-side-menus>
  
  <ion-side-menu-content >
    <ion-header-bar class="bar-positive">
      <ion-nav-back-button class="button-icon ion-arrow-left-c">
      </ion-nav-back-button>
    </ion-header-bar>
    <ion-nav-buttons side="right">
      <button class="button button button-large button-energized" ng-click="plan.toggleDetailView()">
        ToggleView
      </button>
      <button class="button button-large button-energized" ui-sref="plan.fill">
      FillState
      </button>
      <button class="button button-large button-calm" ng-click="plan.featureCorners()">
        FeatureCorners
      </button>
      <!-- <button class="button button-icon button-clear button-balanced ion-navicon" on-tap-gesture="plan.stateforward()"> -->
      <!-- </button> -->
    </ion-nav-buttons>
    <ion-nav-view animation="no-animation" name="planContent"></ion-nav-view>
  </ion-side-menu-content> 
  
  <ion-side-menu side="right" >


    <ion-nav-view name="detailMenu">
    </ion-nav-view>
  </ion-side-menu>
  
</ion-side-menus>