<ion-side-menus>
    <ion-side-menu-content drag-content="false">
        <div class="bar bar-header bar-light">
            <div class="buttons pull-left">
                <button class="button button-clear button-icon edl-icons edl-home" ui-sref="home"></button>
            </div>
            <h1 class="title">EdLiteR</h1>            
            <div class="buttons pull-right">
                <button id="edl-preview-button" class="button button-clear button-icon edl-icons edl-preview button-positive" ng-class="{disabled: !plan.previewPanels}"  ng-click="plan.handlePreviewButton()">
                </button>
            </div>
        </div>
        <ion-nav-view animation="no-animation" name="planContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="right" width="detailpanelwidth">
        <ion-nav-view name="detailMenu"></ion-nav-view>
    </ion-side-menu>

    <ion-side-menu side="left">
        <ion-nav-view name="helpMenu"></ion-nav-view>
    </ion-side-menu>

</ion-side-menus>
