<ion-view title="Search" >
	<ion-nav-buttons side="right">
		<button class="button button-clear edl-button" ng-controller="SearchCtrl as search" ng-click="search.saveMapToDataUrl()">
			<object class="icon button-icon edl-navbar-button" type="image/svg+xml" data="img/camera.svg">	
			</object>
		</button>
	</ion-nav-buttons>
	<ion-content >
		<div id="gmap" class="fill" edl-google-map></div>
		<input id="pac-input" class="controls" type="text" placeholder="Enter a location"/>
	</ion-content>
</ion-view>
