svg {
	background-image:url('../img/de_haro_test_image.png');
}

rect {
  fill: grey;
	background: red;
	stroke: black;
	stroke-width: 3;
}

.panelrow {
	baground-image:url('../img/de_haro_test_image.png')
}
