/* Empty. Add your own CSS if you like */
svg {
	background-image:url('../img/de_haro_test_image.png');
}


polygon { 
  /*stroke: green;*/
  /*stroke-width: 2px;*/
  fill: grey;
  padding: 0;
  margin: 0;
}